@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");


body {
  font-family: 'Montserrat', sans-serif;
  background: $secondary-color;
}
* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: $primary-color;
  padding: 1.25rem 0 15.625rem;
}

nav {
  a {
    text-decoration: none;
    padding-left: 1.563rem;

    font-size: 1.125rem;
    color: $secondary-color;
    text-transform: uppercase;

    &:hover {
      color: $emphasis;
    }
  }
}