@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");


body {
  font-family: 'Montserrat', sans-serif;
  background: $secondary-color;
}
* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: $primary-color;
  padding: 1.25rem 0 15.625rem;
}

nav {
  a {
    padding-left: 1.563rem;

    font-size: 1.125rem;
    color: $secondary-color;
    text-transform: uppercase;

    &:hover {
      color: $emphasis;
    }
  }
}

.slide {
  position: relative;
  bottom: 380px;
  text-align: center;
  height: calc(550px - 380px);
}

h2 {
  @include type-1(36);
  font-weight: 500;
  margin-top: 4rem;

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 3px;
    background: $emphasis;
    margin: 10px auto;
    padding-right: 10px;
  }
}

.review, .news {
  display: flex;
  justify-content: space-between;
}

.card {
  height: 25rem;
  width: 19.875rem;

  padding: 0.938rem;
  margin-top: 1.875rem;  
}

.game1 {
  background: url("../assets/analise01-home.png") no-repeat;
}

.game2 {
  background: url("../assets/analise02-home.png") no-repeat;
  background-size: 19.813rem;

  .name {
    padding-top: 19.71rem;
  }
}

.game3 {
  background: url("../assets/analise03-home.png") no-repeat;
  background-size: 19.875rem;
}
.game4 {
  background: url("../assets/analise04-home.png") no-repeat;
  background-size: 19.875rem;
}

.grade {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px 0;
  border-radius: 20px;

  font-weight: 700;
  color: $secondary-color;

  width: 75px;
  background: $emphasis;

  img {
    padding-right: 10px;
  }
}

.name {
  padding-top: 18rem;

  @include type-1(24);
  font-weight: 500;
  color: $secondary-color;
}

.see-all {
  color: $emphasis;
  font-weight: 500;
  text-transform: uppercase;

  margin-top: 1.5rem;
  @include type-1(14);
  line-height: 0;

  text-align: end;
}

.line::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: $line;
  margin: 1.5rem auto 0;
}

.news1 {
  background: url("../assets/noticia01-home.png") no-repeat;
  background-size: 19.875rem;
}

.news2 {
  background: url("../assets/noticia02-home.png") no-repeat;
  background-size: 19.875rem;
}

.news3 {
  background: url("../assets/noticia03-home.png") no-repeat;
  background-size: 19.875rem;
}
.news4 {
  background: url("../assets/noticia04-home.png") no-repeat;
  background-size: 19.875rem;
}

.copyright {
  text-align: center;
  padding: 1.5rem 0;
}