@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");


body {
  font-family: 'Montserrat', sans-serif;
  background: $secondary-color;
}
* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  
  padding: 1.25rem 0 15.625rem;
  background: $primary-color;

  &.header {
    padding-bottom: 29.563rem;
  }
}

nav {
  a {
    padding-left: 1.563rem;

    font-size: 1.125rem;
    color: $secondary-color;
    text-transform: uppercase;

    &:hover {
      color: $emphasis;
    }
  }
}

.navigation {
  position: absolute;
  display: flex;
  align-items: center;
}

h2 {
  @include type-1(36);
  font-weight: 500;
  margin-top: -5rem;
  
  &.mt-4 {
    margin-top: 4rem;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 3px;
    background: $emphasis;
    margin: 10px auto;
    padding-right: 10px;
  }
}

.wave {
  position: relative;
  img {
    position: absolute;
  }
}

/* ========== SLIDE ========== */
.slider {
  width: 69.063rem;
  height: 36.875rem;

  position: relative;
  bottom: 150px;
 
  margin: auto;

  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 500%;
  
  position: absolute;
  bottom: 0;

  input {
    display: none;
  }
}

.slide {
  width: 20%;

  transition: 1s;

  .name {
    color: $secondary-color;
    padding: 0;

    position: relative;
    bottom: 50px;
    &.n1 {
      right: 60px;
    }

    &.n2 {
      right: 226px;
    } 
    
    &.n3 {
      right: 151px
    }
  }
}

/* ========== Manual Nav ========== */
.navigation-manual {
  position: absolute;
  width: 69.063rem;
  margin-top: 35.5rem;

  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #6C48B8;
  border-radius: 10px;

  padding: 5px;

  cursor: pointer;

  transition: 1s;

  &:not(:last-child) {
    margin-right: 2.5rem;
  }

  &:hover {
    background-color: #6C48B8;
  }
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* ========== Auto Nav ========== */
.navigation-auto {
  position: absolute;
  display: flex;
  justify-content: center;

  width: 69.063rem;
  margin-top: 35.5rem;
}
.navigation-auto div {
  border: 2px solid #6C48B8;

  padding: 5px;
  border-radius: 10px;

  transition: 1s;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: $emphasis;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: $emphasis;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: $emphasis;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: $emphasis;
}

.card {
  height: 25rem;
  width: 19.875rem;

  padding: 0.938rem;
  margin-top: 1.875rem; 

  border-radius: 20px;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} 

/* ========== REVIEW ========== */
.review, .news {
  display: flex;
  justify-content: space-between;
}

.game1 {
  background: url("../assets/analise01-home.png") no-repeat;
}

.game2 {
  background: url("../assets/analise02-home.png") no-repeat;
  background-size: 19.875rem;

  .name {
    padding-top: 19.71rem;
  }
}

.game3 {
  background: url("../assets/analise03-home.png") no-repeat;
  background-size: 19.875rem;
}
.game4 {
  background: url("../assets/analise04-home.png") no-repeat;
  background-size: 20rem;
}

.grade {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px 0;
  border-radius: 20px;

  font-weight: 700;
  color: $secondary-color;

  width: 75px;
  background: $emphasis;

  img {
    padding-right: 10px;
  }
}

.name {
  padding-top: 18rem;

  @include type-1(24);
  font-weight: 500;
  color: $secondary-color;
}


/* ========== NEWS ========== */
.news1 {
  background: url("../assets/noticia01-home.png") no-repeat;
  background-size: 20rem;
}

.news2 {
  background: url("../assets/noticia02-home.png") no-repeat;
  background-size: 20rem;
}

.news3 {
  background: url("../assets/noticia03-home.png") no-repeat;
  background-size: 19.875rem;
}
.news4 {
  background: url("../assets/noticia04-home.png") no-repeat;
  background-size: 20rem;
}

.see-all {
  color: $emphasis;
  font-weight: 500;
  text-transform: uppercase;

  margin-top: 1.5rem;
  @include type-1(14);
  line-height: 0;

  text-align: end;
}

.line::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: $line;
  margin: 1.5rem auto 0;
}

/* ========== FOOTER ========== */
.copyright {
  text-align: center;
  padding: 1.5rem 0;
}

/* ========== GRID ========== */
h3 {
  color: $secondary-color;
  font-weight: 700;

  @include type-1(24)
}

.grid {
  display: grid;

  position: relative;
  bottom: 364px;

  width: 1114px;
  margin: auto; 
  
  grid-template-columns: 1fr 2fr;

  gap: 20px;
  grid-template-areas: 
  "item1 item2"
  "item1 item3";
  ;

  img {
    border-radius: 15px;
  }
}

.subgrid {
  display: grid;
  grid-template-columns: 205px 225px;
  gap: 20px;

  align-items: center;
}

.i1 {
  grid-area: item1;
  height: 320px;
}

.i2 {
  grid-area: item2;
  height: 150px;
}

.i3 {
  grid-area: item3;
  height: 150px;
}