@mixin d($dispositivo) {
  @if $dispositivo == t {
    @media only screen and (min-width: 788px) and (max-width: 979px) {
      @content;
    }
  } @else if $dispositivo == m {
    @media only screen and (max-width: 787px) {
      @content;
    }
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$container: 1400;
$gutter: 20;
$coluns: 16;

%grid {
  float: left;
  margin-left: ($gutter / 2) + px;
  margin-right: ($gutter / 2) + px;
}

@for $i from 1 through $coluns {
  $width: $container / $coluns * $i - $gutter;

  .grid-#{$i} {
    @extend %grid;
    width: $width + px;
  }
}  

.grid-1-3 {
  width: ($container / 3) - $gutter + px;
  float: left;
  margin-left: $gutter + px;
}

.container {
  width: $container + px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.container:after,
.container:before {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}




@include d(t) {
  $container: 768;
  
  @for $i from 1 through $coluns {
    $width: $container / $coluns * $i - $gutter;
  
    .grid-#{$i} {
      width: $width + px;
    }
  }  
  .grid-1-3 {
    width: ($container / 3) - $gutter + px;
  }
  .container {
    width: $container + px;
  }

 
}

@include d(m) {
  $container: 300;
  
  %mobile  {
    width: $container + px;
    margin-left: 0;
    margin-bottom: $gutter + px;
    float: none;
  }

  @for $i from 1 through $coluns {  
    .grid-#{$i} {
     @extend %mobile;
    }
  } 
  .grid-1-3 {
    @extend %mobile;
  }

  .container {
    width: $container + px;
  }
}
